PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/proj-1
MONGO_DNS_SERVER=8.8.8.8
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-refresh
APP_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-gmail-address@gmail.com
EMAIL_PASS=your-gmail-app-password
EMAIL_FROM=your-gmail-address@gmail.com
STRIPE_SECRET_KEY=sk_test_51N8n9uKZsXo7mLh....
STRIPE_PUBLIC_KEY=pk_test_51N8n9uKZsXo7mLh....
STRIPE_WEBHOOK_SECRET=whsec_...